$black_light: #000000de;
$title1: #885f21;
$colorBG: #F7F0EB;
$colorBG2: #F1F1F1;
$border: #EBE3D9;

 $form_border: #008FCA;



$white: #ffff;
$black:#000;
$white_light: #e4e4e4e7;

$blue: rgb(66, 66, 212);

$facebook: #4867AA;
$google: #F6AD01;

$backgraund:#F9F9F9;