.btn_black{
    width: 22rem;
    padding: 1.5rem .5rem;
    border-radius: .5rem;
    display: block;
    border: 1px solid $black_light;
    font-size: 1.6rem;
    text-align: center;
    color: $black;
    font-family: sans-serif;
    font-weight:600;
    position: relative;
    z-index: 1;
    transition: .15s;
    opacity: .9;
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color: $black;
        z-index: -1;
        transition: .25s;
    }
    &::before{
        position: absolute;
        content: "";
        top: 0;
        right:  0;
        height: 100%;
        width: 0%;
        background-color: $black;
        z-index: -1;
        transition: .25s;
    }
    &:hover{
        color: $white;
    }
    &:hover::after {
        width: 50%;
    }
    &:hover::before {
        width: 50%;
    }
}

.contact_btn{
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    box-shadow: 0px 0px 2px #CCC;
    font-weight: 600;
    opacity: .8;
    cursor: pointer;
    transition: .15s;
    &:hover{
        background-color: #fcfbfb;
    }
}

.btn_lg{
    display: block;
    margin: 1.5rem auto;
    width: 58rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: $black;
    font-family: serif;
    padding: 1.5rem;
    border-radius: .5rem;
    border: 1px solid $black;
    box-shadow: 0px 0px 2px $black_light;
}

.Facebook{
    position: relative;
    transition: .25s;
    z-index: 9;
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: $facebook;
        transition: .25s;
        z-index: -1;
    }
    &:hover{
        color: $white;
        border: transparent;
        overflow: hidden;
    }
    &:hover:after{
        height: 100%;
    }
}

.google{
    position: relative;
    transition: .25s;
    z-index: 9;
    &::after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: $google;
        transition: .25s;
        z-index: -1;
    }
    &:hover{
        color: $white;
        border: transparent;
        overflow: hidden;
    }
    &:hover:after{
        height: 100%;
    }
}

.form_btn{
    width: 100%;
    background-color: $blue;
    padding: 1.2rem 0;
    text-align: center;
    font-weight: bold;
    color: $white;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        background-color: rgb(91, 91, 241);
    }
}


.book_btn{
    padding: 1rem 1.5rem;
    background-color: $form_border;
    color: $white;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0px 0px 3px #cccc;
}

@media only screen and (max-width:1024px) {
    .btn_lg {
        width: 45rem;
        padding: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .btn_lg {
        width: 38rem;
        padding: 1rem;
    }

}

@media only screen and (max-width: 600px) {
    .btn_lg {
        width: 100%;
        padding: 1rem;
    }
    
}