footer {
    margin-top: 3rem;
    width: 100%;
    background-color: $black_light;
}

.footer_area{
    width: 65%;
    margin: auto;
    padding: 4rem 0;
    display: flex;
}

.address{
    width: 38rem;
    height: fit-content;
    img{
        height: 8rem;
        display: block;
        margin-bottom: 2rem;
    }
    span {
        display: block;
        margin: 1rem 0;
        font-size: 1.5rem;
        color: #a8a8a8;
        font-family: cursive;
        font-weight: 500;
        i{
            padding-right: 1rem ;
        }
        a {
            color: #a8a8a8;
        }
    }
    .footer_social_btn{
        display: flex;
        gap: .5rem;
        align-items: center;
        a{
            padding: .6rem;
            color: $white;
            border-radius: 50%;

            i{
                font-size: 1.5rem;
            }
            &:nth-child(1) {
                background-color: #38538C;
            }
            &:nth-child(2) {
                background-color: #AD0A1C;
            }
            &:nth-child(3) {
                background-color: #036EA6;
            }
            &:nth-child(4) {
                background-color:#BC201F;
            }
        }
    }
}

.import_link {
    display: flex;
    height: fit-content;
    .item_area{
        width: 25rem;
        h2{
            color: $white;
            font-size: 1.8rem;
            font-family: sans-serif;
            font-weight: 400;
            opacity: .9;
        }
        ul{
            margin-top: 2rem;
            li {
                display: flex;
                margin: .5rem 0;
                color: #a8a8a8;
                a{
                    font-size: 1.5rem;
                    color: #a8a8a8;
                    font-weight: 500;
                    font-family: cursive;
                }
                i{
                    font-size: .5rem;
                    padding: 1rem;
                    padding-left: 0;
                }
            }
        }
    }
}

.map{
    h2{
        color: $white;
        font-size: 1.8rem;
        font-family: sans-serif;
        font-weight: 400;
        opacity: .9;
    }
    iframe{
        margin-top: 2rem;
        width: 33rem;
        height: 18rem;
    }
}






.copyright{
    text-align: center;
    padding: 2.5rem 0;
    border-top: 1px solid #ffffff4f;
    span {
        color: $white_light;
        font-size: 1.3rem;
        font-family: sans-serif;
        line-height: 2.5rem;
        a{
            color: #a9a9a9;
        }
    }
}


@media only screen and (max-width:1024px){
    .footer_area{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
}

@media only screen and (max-width:768px){
    .footer_area{
        .address{
            width: 48%;
        }
        .import_link{
            display: none;
        }
        .map{
            width: 48%;
        }
    }
}

@media only screen and (max-width:600px){
    .footer_area{
        .address{
            width: 100%;
            display: block;
        }
        .map{
            width: 100%;
            display: block;
            iframe{
                width: 100%;
            }
        }
    }
}