.followUs{
    width: 67%;
    margin: 1rem auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom_title2{
        width: 45%;
        p{
            font-size: 1.4rem;
            font-family: peraItalic;
            margin: 1.5rem auto;
            margin-top: 7rem;
            line-height: 2.6rem;
        }
        .social_btn_sm{
            a {
                display: inline-block;
                padding: 1rem;
                background: $black;
                margin: 0 .3rem;
                border-radius: .4rem;
                transition: .25s;
                &:hover {
                    background: $title1;
                }
                i {
                    color: $white;
                    font-size: 1.8rem;
                }
            }
        }
    }
}


@media only screen and (max-width:1880px){
    .followUs{
        width: 80%;
    }
}

@media only screen and (max-width:1440px){
    .followUs{
        width: 90%;
    }
}

@media only screen and (max-width:1024px){
    .followUs{
        width: 100%;
    }

}

@media only screen and (max-width:600px){
    .followUs{
        flex-direction: column;
        .custom_title2{
            width: 100%;
            margin-bottom:1rem;
        }
        .social_btn_lg{
            width: 100%;
        }
    }

}