.main_model{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.226);
    position: fixed;
    top: 0;
    z-index: 999999;
    display: none;
    .model{
        width: 65%;
        margin:1.5rem  auto;
        height: 95%;
        background-color: $white;
        border-radius: 0.3rem;
        padding: 1rem;
        overflow: hidden;
    }
}
//Responsive----------
@media only screen and (max-width: 2560px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 50%;
            margin:15rem  auto;
            height: 70%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 1960px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 50%;
            margin:10rem  auto;
            height: 80%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 1760px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 60%;
            margin:5rem  auto;
            height: 90%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 1560px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 65%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 1560px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 65%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 1260px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 70%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 960px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 80%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 860px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 60%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 560px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 80%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}
@media only screen and (max-width: 360px) {
    .main_model{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.226);
        position: fixed;
        top: 0;
        z-index: 999999;
        .model{
            width: 95%;
            margin:1.5rem  auto;
            height: 95%;
            background-color: $white;
            border-radius: 0.3rem;
            padding: 1rem;
            overflow: hidden;
        }
    }
}